.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #21769a, #91c3db);
}

  
.login-card {
  width: 350px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

  
  .login-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .input-container {
    margin-bottom: 1rem;
  }
  
  .login-input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #333;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .login-btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #3d8eb3;
    border: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-btn:hover {
    background-color: #21769a;
  }
  
  .login-message {
    text-align: center;
    color: #333;
    margin-top: 1rem;
  }
  

