.navbar-custom {
    background-color: #2D2C55;
    color: #ffffff; /* Color del texto */
}

.navbar-custom .nav-link {
    color: #ffffff !important; /* Color del texto de los enlaces de navegación */
}
