.navbar-custom {
    background-color: #1c673b;
    color: #ffffff; /* Color del texto */
}

.navbar-custom .nav-link {
    color: #ffffff !important; /* Color del texto de los enlaces de navegación */
}

* {
    background-color: #1C2B67;
}