.AGEMcontenedor1 {
  padding: 4%;
}

.AGEMTable {
  text-align: justify;
  border-radius: 10px;
  overflow: hidden;
}

.AGEMBotonContainer {
  display: flex;
  justify-content: space-between; /* Espacio entre los elementos */
  align-items: center;
  margin-bottom: 10px;
}

.AGEMBuscador {
  margin-left: 10px; /* Ajusta el margen a la derecha */
}



.AGEMTitulo{
    margin: 2%;
    text-align: left;
}