.AGEMcontenedor1 {
  padding: 3%;
}

.GridCardUsuario {
  transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1); /* Cubic Bezier para una transición suave */
}

.GridCardUsuario:hover {
  transform: scale(1.05); /* Escalar la tarjeta en un 5% cuando se hace hover */
}

.AGEMTable {
  text-align: justify;
  border-radius: 10px;
  overflow: hidden;
}

.AGEMBotonContainer {
  display: flex;
  justify-content: space-between; /* Espacio entre los elementos */
  align-items: center;
  margin-bottom: 15px;
  width: 98.8%;
}

.AGEMBuscador {
  margin-left: 10px; /* Ajusta el margen a la derecha */
}

.AGEMTitulo {
  margin: 2%;
  text-align: left;
}

.AGEMCard {
  transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1); /* Cubic Bezier para una transición suave */
}

.myCardActions {
  margin-top: auto;
}
