.permisos-container {
  margin-top: 10px;
}

.permisos-form-container {
  max-width: 600px;
  margin: 0 auto;
}

.permisos-form-container form {
  margin-top: 10px;
}

.permisos-form-container form label {
  font-weight: bold;
}

.permisos-form-container form .form-group {
  margin-bottom: 10px;
}

h2{
  font-weight: 500;
}